
<div style="margin-top: 20%">
    <MudStack AlignItems="AlignItems.Center" Justify="Justify.Center" Row>
        <MudText Typo="Typo.h3">Loading...</MudText>
        <MudProgressCircular Indeterminate="true" Color="Color.Primary" />
    </MudStack>
</div>